body {
  background-color: hsla(266, 100%, 50%, 0.267) !important;
}
.form-container {
  width: 500px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh;
}
